.form {
  &__item {
    margin: 0 auto;
    width: 200px;
    padding: 5px 0;

    label {
      display: block;
    }
  }
  .item {
    &__error {
      padding: 5px;
      color: red;
    }
  }
  &__btn {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 320px;
    width: 100%;
    padding: 10px;
  }
  &__input {
    padding: 8px 0;
    width: 100%;
    max-width: 320px;
  }
}
